.Slider { 
  display: block;    
  margin: 10px;
  /* height: 400px; */
}

.carousel-inner{ 
  border-radius: 10px; 
}
.d-block w-100{  
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 400px;
}

/* .w-100{
  width: 100vh !important;
  height:600px;
} */